name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    types:
      - ready_for_review
      - review_requested

jobs:
  build-and-test-ubuntu-gcc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: dependencies
      run: sudo apt-get install coreutils build-essential gcc-11 g++-11 gfortran-11 libgsl-dev libgslcblas0 qt5-default dvipng cmake texlive texlive-latex-extra texlive-luatex -y
    - name: configure
      run: |
        mkdir build
        cd build
        export CXX=g++-11
        export CC=gcc-11
        export FC=gfortran-11
        cmake ..
    - name: make
      run: |
        cd build
        make
    - name: install
      run: |
        cd build
        sudo make install
    - name: test
      run: |
        cd build
        export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/lib
        ctest --output-on-failure
  build-ubuntu-clang:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: dependencies
      run: sudo apt-get install coreutils build-essential clang gfortran libgsl-dev libgslcblas0 qt5-default dvipng cmake texlive texlive-latex-extra texlive-luatex -y
    - name: configure
      run: |
        mkdir build
        cd build
        export CXX=clang++
        export CC=clang
        export FC=gfortran
        cmake ..
    - name: make
      run: |
        cd build
        make
    - name: install
      run: |
        cd build
        sudo make install
    - name: test
      run: |
        cd build
        export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/lib
        ctest --output-on-failure
  build-and-test-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: dependencies
      run: |
        brew install coreutils gcc@11 gsl qt5 cmake imagemagick texlive octave pkg-config
    - name: configure
      run: |
        mkdir build
        cd build
        export PATH=$PATH:/usr/local/bin
        export CPATH=$CPATH:/usr/local/include
        export C_INCLUDE_PATH=$C_INCLUDE_PATH:/usr/local/include
        export LIBRARY_PATH=$LIBRARY_PATH:/usr/local/lib
        export DYLD_FALLBACK_LIBRARY_PATH=$DYLD_FALLBACK_LIBRARY_PATH:/usr/local/lib
        export CXX=g++-11
        export CC=gcc-11
        export FC=gfortran-11
        cmake .. -DQt5_DIR=$(brew --prefix qt5)/lib/cmake/Qt5 -DCMAKE_PREFIX_PATH=$(brew --prefix qt5)/lib/cmake
    - name: make
      run: |
        cd build
        export PATH=$PATH:/usr/local/bin
        export CPATH=$CPATH:/usr/local/include
        export C_INCLUDE_PATH=$C_INCLUDE_PATH:/usr/local/include
        export LIBRARY_PATH=$LIBRARY_PATH:/usr/local/lib
        export DYLD_FALLBACK_LIBRARY_PATH=$DYLD_FALLBACK_LIBRARY_PATH:/usr/local/lib
        export CXX=g++-11
        export CC=gcc-11
        export FC=gfortran-11
        make
    - name: install
      run: |
        cd build
        sudo make install
    - name: test
      run: |
        export PATH=$PATH:/usr/local/bin
        export CPATH=$CPATH:/usr/local/include
        export C_INCLUDE_PATH=$C_INCLUDE_PATH:/usr/local/include
        export LIBRARY_PATH=$LIBRARY_PATH:/usr/local/lib
        export DYLD_FALLBACK_LIBRARY_PATH=$DYLD_FALLBACK_LIBRARY_PATH:/usr/local/lib
        cd build
        ctest --output-on-failure
